<!-- component -->
<div class="flex p-12 inline-flex">
  <a  [routerLink]="['/usuarios/list']">
    <div class="flex flex-row inline-flex cursor-pointer">
      <svg
        fill="none"
        class="w-6 text-gray-400 mx-auto"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 19l-7-7m0 0l7-7m-7 7h18"
        />
      </svg>
      <span class="text-gray-400 text-lg pl-2">Volver</span>
    </div>
  </a>
</div>
<section class="py-10 bg-white-100 bg-opacity-50 h-screen-100">
  <div class="mx-auto container max-w-2xl md:w-3/4 shadow-md">
    <div></div>
    <div
      class="bg-gray-600 p-4 border-t-2 bg-opacity-5 border-indigo-400 rounded-t"
    >
      <div class="max-w-sm mx-auto md:w-full md:mx-0">
        <div class="inline-flex items-center space-x-4">
          <div *ngIf="usuarioForm.get('genero')?.value == 'sind'">
            <img
              class="w-16 h-16 object-cover rounded-full"
              alt="User avatar"
              src="assets/images/sind.png"
            />
          </div>
          <div *ngIf="usuarioForm.get('genero')?.value == 'masculino'">
            <img
              class="w-16 h-16 object-cover rounded-full"
              alt="User avatar"
              src="assets/images/man.png"
            />
          </div>
          <div *ngIf="usuarioForm.get('genero')?.value == 'femenino'">
            <img
              class="w-16 h-16 object-cover rounded-full"
              alt="User avatar"
              src="assets/images/woman.png"
            />
          </div>
          <h1 class="text-gray-600">{{ nombres + " " + apellidos }}</h1>
        </div>
      </div>
    </div>
    <form [formGroup]="usuarioForm" (ngSubmit)="fnUserSubmit()">
      <div class="bg-white space-y-6">
        <div
          class="md:inline-flex flex-wrap space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center"
        >
          <h2 class="md:w-1/3 max-w-sm mx-auto block">Cuenta</h2>
          <div class="block md:w-2/3 max-w-sm mx-auto">
            <label class="text-sm text-gray-400">Correo Electrónico</label>
            <div class="w-full block">
              <div class="w-full inline-flex border">
                <div class="pt-2 w-1/12 bg-gray-100 bg-opacity-50">
                  <svg
                    fill="none"
                    class="w-6 text-gray-400 mx-auto"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                    />
                  </svg>
                </div>
                <input
                  type="email"
                  class="w-11/12 block focus:outline-none focus:text-gray-600 p-2"
                  placeholder="correo@ejemplo.com"
                  formControlName="correo"
                  name="correo"
                />

                <!-- <span
                  class="text-danger block"
                  *ngIf="
                    registerFormControl.email.touched &&
                    registerFormControl.email.errors?.email
                  "
                >
                  Enter a valid email address
                </span> -->
              </div>
              <span
                class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                *ngIf="
                  (usuarioForm.get('correo')?.touched ||
                    usuarioForm.get('correo')?.touched) &&
                  usuarioForm.get('correo')?.errors?.required
                "
              >
                El Correo Electronicó es Obligatorio
              </span>
              <span
                class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                *ngIf="
                  usuarioForm.get('correo')?.touched &&
                  usuarioForm.get('correo')?.errors?.email
                "
              >
                Ingrese un Correo Electronicó Valido
              </span>
              <span
                class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                *ngIf="
                  usuarioForm.get('correo')?.touched &&
                  usuarioForm.get('correo')?.errors?.correoExist
                "
              >
                El Correo Electronicó Ya Está En Uso
              </span>
            </div>
          </div>
        </div>

        <hr />
        <div
          class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center"
        >
          <h2 class="md:w-1/3 mx-auto max-w-sm">Información Personal</h2>
          <div class="md:w-2/3 mx-auto max-w-sm space-y-5">
            <div>
              <label class="text-sm text-gray-400">Nombres</label>
              <div class="w-full block">
                <div class="w-full inline-flex border">
                  <div class="w-1/12 pt-2 bg-gray-100">
                    <svg
                      fill="none"
                      class="w-6 text-gray-400 mx-auto"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                      />
                    </svg>
                  </div>
                  <input
                    type="text"
                    class="w-11/12 focus:outline-none focus:text-gray-600 p-2"
                    placeholder="William Henry"
                    formControlName="nombres"
                    name="nombres"
                  />
                </div>
                <span
                  class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                  *ngIf="
                    (usuarioForm.get('nombres')?.touched ||
                      usuarioForm.get('nombres')?.touched) &&
                    usuarioForm.get('nombres')?.errors?.required
                  "
                >
                  El Nombre es Obligatorio
                </span>
              </div>
            </div>
            <div>
              <label class="text-sm text-gray-400">Apellidos</label>
              <div class="w-full block">
                <div class="w-full inline-flex border">
                  <div class="w-1/12 pt-2 bg-gray-100">
                    <svg
                      fill="none"
                      class="w-6 text-gray-400 mx-auto"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                      />
                    </svg>
                  </div>
                  <input
                    type="text"
                    class="w-11/12 focus:outline-none focus:text-gray-600 p-2"
                    placeholder="Gates III"
                    formControlName="apellidos"
                    name="apellidos"
                  />
                </div>
                <span
                  class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                  *ngIf="
                    (usuarioForm.get('apellidos')?.touched ||
                      usuarioForm.get('apellidos')?.touched) &&
                    usuarioForm.get('apellidos')?.errors?.required
                  "
                >
                  Los Apellidos Son Obligatorios
                </span>
              </div>
            </div>
            <div>
              <label class="text-sm text-gray-400">Cédula</label>
              <div class="w-full block">
                <div class="w-full inline-flex border">
                  <div class="w-1/12 pt-2 bg-gray-100">
                    <svg
                      fill="none"
                      class="w-6 text-gray-400 mx-auto"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
                      />
                    </svg>
                  </div>
                  <input
                    type="number"
                    appOnlynumber
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    class="w-11/12 focus:outline-none focus:text-gray-600 p-2"
                    placeholder="1116273460"
                    maxlength="10"
                    formControlName="cedula"
                    name="cedula"
                  />
                </div>
                <span
                  class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                  *ngIf="
                    (usuarioForm.get('cedula')?.touched ||
                      usuarioForm.get('cedula')?.touched) &&
                    usuarioForm.get('cedula')?.errors?.required
                  "
                >
                  La Cédula es Obligatoria
                </span>
                <span
                  class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                  *ngIf="
                    usuarioForm.get('cedula')?.touched &&
                    usuarioForm.get('cedula')?.errors?.cedulaExist
                  "
                >
                  La Cédula Digitada Ya Se Encuentra Registrada
                </span>
              </div>
            </div>

            <div>
              <label class="text-sm text-gray-400">Telefono</label>
              <div class="w-full block">
                <div class="w-full inline-flex border">
                  <div class="pt-2 w-1/12 bg-gray-100">
                    <svg
                      fill="none"
                      class="w-6 text-gray-400 mx-auto"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                      />
                    </svg>
                  </div>
                  <input
                    type="number"
                    appOnlynumber
                    class="w-11/12 focus:outline-none focus:text-gray-600 p-2"
                    placeholder="3188424892"
                    formControlName="telefono"
                    name="telefono"
                  />
                </div>
                <span
                  class="block font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                  *ngIf="
                    (usuarioForm.get('telefono')?.touched ||
                      usuarioForm.get('telefono')?.touched) &&
                    usuarioForm.get('telefono')?.errors?.required
                  "
                >
                  El Telefono es Obligatorio
                </span>
              </div>
            </div>
            <div>
              <label class="text-sm text-gray-400">Género</label>
              <div class="w-full inline-flex border">
                <div class="pt-2 w-1/12 bg-gray-100">
                  <svg
                    fill="none"
                    class="w-6 text-gray-400 mx-auto"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                    />
                  </svg>
                </div>
                <select
                  formControlName="genero"
                  class="w-11/12 form-select pt-3 pb-3 block w-full"
                >
                  <option value="sind">Sin Definir</option>
                  <option value="masculino">Masculino</option>
                  <option value="femenino">Femenino</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <hr />
        <div
          class="md:inline-flex justify-center items-center w-full text-gray-500 items-center"
        >
          <div class="md:w-3/12 text-center pb-3 mr-3">
            <button
              type="submit"
              [ngClass]="{ 'bg-opacity-40': !usuarioForm.valid }"
              [disabled]="!usuarioForm.valid"
              class="text-white w-full mx-auto max-w-sm rounded-md text-center bg-indigo-400 py-2 px-4 inline-flex items-center justify-center focus:outline-none md:float-right"
            >
              Guardar
            </button>
          </div>
          <div class="md:w-3/12 text-center pb-3">
            <button
              type="button"
              (click)="goBack()"
              class="text-white w-full mx-auto max-w-sm rounded-md text-center bg-red-400 py-2 px-4 inline-flex items-center justify-center focus:outline-none md:float-right"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
