.float {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
}

.span-icon {
  color: white;
  font-size: 5rem;
  padding: 0;
  margin-top: -17px;

}
